.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #1e1e1e; /* Dark background for better contrast */
  padding: 0 10px 0 10px;
  overflow: hidden;
  transition: all 0.5s ease;
}

/* Map container */
.map-container {
  flex: 1;
  position: relative;
  height: 90vh;
  width: 98vw;
  margin: 4vh auto;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.app-container.editing .map-container {
  width: calc(75vw - 10px); /* Ajusta el tamaño para dejar espacio al sidebar */
  margin-left: 10px; /* Asegura un desplazamiento suave */
}

/* Brush button */
.brush-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Ensure it's above the map */
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.brush-button:hover {
  background-color: #f0f0f0;
}

.edit-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {

  .app-container.editing .map-container {
    width: 100%;
    height: calc(100vh - 20vh); /* Ajusta la altura dejando espacio para la barra */
    margin: 15px 0 0 0;
  }
}

@media (max-height: 770px) and (max-width: 768px) {
  .app-container.editing .map-container {
    height: calc(100vh - 22vh); /* Ajusta la altura dejando espacio para la barra */
  }
}

@media (max-width: 360px){
  .app-container.editing .map-container {
    height: calc(100vh - 22vh); /* Ajusta la altura dejando espacio para la barra */
  }
}
